
<fieldset>
  <legend><%= t('view.issue_mail_with_attachments.legend_attachment_setting') %></legend>
  <p>
    <label><%= t('view.issue_mail_with_attachments.enable_mail_attachment') %></label>
	<input type="checkbox" value="true" name="settings[enable_mail_attachments]" <%= settings['enable_mail_attachments'].to_s.eql?('true') ? 'checked="checked"' : '' %> />
    <em><%= t('view.issue_mail_with_attachments.enable_mail_attachment_desc') %></em>
  </p>
  <p>
    <label><%= t('view.issue_mail_with_attachments.attach_all_files_to_notification') %></label>
	<input type="checkbox" value="true" name="settings[attach_all_to_notification]" <%= settings['attach_all_to_notification'].to_s.eql?('true') ? 'checked="checked"' : '' %> />
    <em><%= t('view.issue_mail_with_attachments.attach_all_files_to_notification_desc') %></em>
  </p>
</fieldset>



<fieldset>
  <legend><%= t('view.issue_mail_with_attachments.legend_project_level_control') %></legend>
  <p>
    <label><%= t('view.issue_mail_with_attachments.enable_project_level_control') %></label>
	<input type="checkbox" value="true" name="settings[enable_project_level_control]" <%= settings['enable_project_level_control'].to_s.eql?('true') ? 'checked="checked"' : '' %> />
    <em><%= t('view.issue_mail_with_attachments.enable_project_level_control_desc') %></em>
  </p>
</fieldset>



<fieldset>
  <legend><%= t('view.issue_mail_with_attachments.legend_issue_level_control') %></legend>
  <p>
    <label><%= t('view.issue_mail_with_attachments.field_name_to_enable_att') %></label>
	<input type="text" value="<%= settings['field_name_to_enable_att'] %>" name="settings[field_name_to_enable_att]" style='width:100%;'><br />
    <em><%= t('view.issue_mail_with_attachments.field_name_to_enable_att_desc') %></em>
</fieldset>



<fieldset>
  <legend><%= t('view.issue_mail_with_attachments.legend_mail_subject_template') %></legend>
  <p><%= t('view.issue_mail_with_attachments.warning_mail_subject_template') %></p>
  <p>
    <label><%= t('view.issue_mail_with_attachments.mail_subject') %></label>
	<input type="text" value="<%= settings['mail_subject'] %>" name="settings[mail_subject]" style='width:100%;'><br />
    <em><%= t('view.issue_mail_with_attachments.mail_subject_desc') %></em>
  </p>
  <p>
    <label><%= t('view.issue_mail_with_attachments.mail_subject_without_status') %></label>
	<input type="text" value="<%= settings['mail_subject_wo_status'] %>" name="settings[mail_subject_wo_status]" style='width:100%;'><br />
    <em><%= t('view.issue_mail_with_attachments.mail_subject_without_status_desc') %></em>
  </p>
  <p>
    <label><%= t('view.issue_mail_with_attachments.mail_subject_for_attachment_mail') %></label>
	<input type="text" value="<%= settings['mail_subject_4_attachment'] %>" name="settings[mail_subject_4_attachment]" style='width:100%;'><br />
    <em><%= t('view.issue_mail_with_attachments.mail_subject_for_attachment_mail_desc') %></em>
  </p>
</fieldset>

